/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colors */
  --primary-color: #b6ccda;
  --accent-color: #fff;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Font sizes */
  --font-size-h1: 3rem;
  --font-size-h2: 3rem;
  --font-size-nav-a: 1rem;
  --font-size-a: 1.2rem;
}

/* Typography */

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-regular);
  color: var(--accent-color);
}

nav {
  a {
    font-size: var(--font-size-nav-a);
  }
}

a {
  font-size: var(--font-size-a);
}

/* GENERAL */
body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--primary-color);
  margin: 0 10rem;
}

/* PLACEMENT */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 0.2fr;
  grid-template-rows: 2fr 0.5fr;
  gap: 20px;
}

.text-wrapper {
  grid-column: 1/2;
  grid-row: 1;
  place-self: center start;
}

.button-wrapper {
  grid-column: 1/2;
  grid-row: 1;
  place-self: end start;
}

.image-wrapper {
  grid-column: 2 / 3;
  grid-row: 1/2;
  place-self: center end;
}

.color-button-list-wrapper {
  grid-column: 3 / 4;
  grid-row: 1;
  place-self: center end;
}

.shift-page-button-wrapper {
  grid-column: 1;
  grid-row: 2;
  place-self: end start;
}

.image-card-list-wrapper {
  grid-column: 2 / 3;
  grid-row: 2;
  place-self: end center;
}

/* HEADER */

/* Nav hover effects*/
.main-nav a {
  color: var(--accent-color);
  transition: all 0.2s;
}

.main-nav a:hover {
  background: var(--accent-color);
  color: var(--primary-color); /* blå tekst */
  border: 2px solid var(--accent-color);
}

/* BUTTONS */

/* Primarybutton hover + placement */
.primary-button {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);

  a {
    color: var(--accent-color);
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);

    a {
      color: var(--primary-color);
    }
  }
}

/* Shift page button hover + placement */
.shift-page-button {
  font-size: var(--font-size-a);
  color: var(--accent-color);
}

/* ColorButton hover */
.color-button {
  transition: transform 0.2s;
}

.color-button:hover {
  transform: scale(1.2);
}

/* CARDS */

/* Single image button hover */
.image-card-button {
  transition: transform 0.2s;
}
.image-card-button:hover {
  transform: scale(1.1);
}
